**/reader.jcl
**/ftpd.obj
**/ftpdrakf.punch
**/ftpdrac.obj
**/ftpd_rac.pch
**/ftpdrac.pch
**/ftpd.load
**/output.load
**/ftpdrac.pch
**/list.out
01_update_rakf.jcl
02_install_ftpd.jcl
**/jcc/
**/01_assemble_ftp_objects.jcl
**/02_ftprakf_asm.jcl
**/.vscode